.banner {
  background-size: cover;
  background-position: center center;
  padding: 150px 0;
  height: 600px;
  padding-left: 20px;
  text-align: center;
}

.banner h2 {
  font-size: 90px;
  font-weight: 200;
  margin: 0.4em 0;
  color: $black;
  line-height: 2.2;
  margin-left: 42px;
  text-shadow: 2px 1px ;
}

.banner-title h1 {
  font-size: 64px;
  color: white;
  line-height: 1.4em;
}
.banner-title p {
color:#DFFEFC;

}

.main-image img {
  height: 540px;
  width: 540px;
  border-radius: 50%;
  background-image: cover;
  object-fit: cover;
}


.signup-control {
  padding-top: 12px;

}

.bubble img {
  position: absolute;
  z-index: 1;
  height: 290px;
  width: 290px;
  top: 0;
  right: 490px;
  padding-top: 10px;
}

// .signup-control .btn {
//   position: absolute;

//   border-radius: 20px;
// }

@media (max-width: 700px){
  .main-image img {
    display: none;
  }


}

